.data-video-component {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  box-shadow: inset 0px 0px 4px 2px rgba(250, 170, 0, 0.2509803922), 0px 0px 4px 0px rgba(250, 170, 0, 0.2509803922);
  margin: 0px auto 0px auto;
  background-color: #000000;
  border: 2px solid rgba(250, 170, 0, 0.2509803922);
  height: 120px;
  transition: height 0.2s ease-in-out, width 0.2s ease-in-out;
  cursor: move;
  position: relative;
}
.data-video-component .video-input-form .video-label-wrapper {
  margin: 10px 0px 4px 0px;
}
.data-video-component .video-input-form .video-label-wrapper .list-label,
.data-video-component .video-input-form .video-label-wrapper .video-label {
  text-align: left;
  display: block;
  margin: 0px 0px 0px 4px;
  font-size: 12px;
  width: 120px;
  cursor: move;
}
.data-video-component .video-input-form .video-container {
  display: flex;
  align-items: flex-start;
  position: relative;
}
.data-video-component .video-input-form .video-container .video-input-wrapper {
  display: flex;
  position: relative;
}
.data-video-component .video-input-form .video-container .video-input-wrapper .enabled-list-input-field,
.data-video-component .video-input-form .video-container .video-input-wrapper .enabled-video-input-field {
  display: flex;
  justify-content: left;
  border-top: 2px solid rgba(250, 170, 0, 0.2509803922);
  border-left: 2px solid rgba(250, 170, 0, 0.2509803922);
  border-bottom: 2px solid rgba(250, 170, 0, 0.2509803922);
  border-right: 2px solid rgba(250, 170, 0, 0.2509803922);
  color: #ffffff;
  background-color: #000000;
  transition: height 0.2s ease-in-out;
  resize: none;
  cursor: text;
  font-size: 12px;
  outline: 2px solid #000000;
  margin: 0px;
  margin-right: auto;
  height: 60px;
}
.data-video-component .video-input-form .video-container .video-input-wrapper .enabled-list-input-field::-moz-selection, .data-video-component .video-input-form .video-container .video-input-wrapper .enabled-video-input-field::-moz-selection {
  background-color: rgba(251, 170, 0, 0.3137254902);
}
.data-video-component .video-input-form .video-container .video-input-wrapper .enabled-list-input-field::selection,
.data-video-component .video-input-form .video-container .video-input-wrapper .enabled-video-input-field::selection {
  background-color: rgba(251, 170, 0, 0.3137254902);
}
.data-video-component .video-input-form .video-container .video-input-wrapper .enabled-list-input-field::-moz-placeholder, .data-video-component .video-input-form .video-container .video-input-wrapper .enabled-video-input-field::-moz-placeholder {
  color: #fff;
}
.data-video-component .video-input-form .video-container .video-input-wrapper .enabled-list-input-field::placeholder,
.data-video-component .video-input-form .video-container .video-input-wrapper .enabled-video-input-field::placeholder {
  color: #fff;
}
.data-video-component .video-input-form .video-container .video-input-wrapper .enabled-list-input-field:focus,
.data-video-component .video-input-form .video-container .video-input-wrapper .enabled-video-input-field:focus {
  height: 200px;
  background-color: #000000;
}
.data-video-component .video-input-form .video-container .video-input-wrapper .video-btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100px;
  height: 24px;
  z-index: 14;
  font-size: 14px;
}
.data-video-component .video-input-form .video-container .video-input-wrapper .video-btn-container .video-submit-btn-container {
  display: flex;
  justify-content: right;
  margin: 5px auto 5px auto;
}
.data-video-component .video-input-form .video-container .video-input-wrapper .video-btn-container .video-submit-btn-container .video-btn-submit {
  cursor: pointer;
  height: 20px;
  width: 80px;
  outline: none;
  background-color: #111111;
  color: #FBAA00;
  border: 1px solid #555555;
}
.data-video-component .video-input-form .video-container .video-input-wrapper .video-btn-container .video-selection-wrapper {
  margin: 5px auto 5px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}
.data-video-component .video-input-form .video-container .video-input-wrapper .video-btn-container .video-selection-wrapper .select-video-type {
  width: 80px;
  outline: none;
  background-color: #111111;
  color: #FBAA00;
  border: 1px solid #555555;
}
.data-video-component .video-input-form .video-container .video-input-wrapper .video-btn-container .video-selection-wrapper .radio-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80px;
}
.data-video-component .video-input-form .video-container .video-input-wrapper .video-btn-container .video-selection-wrapper .radio-group .video-type-option-one {
  height: 20px;
}
.data-video-component .video-input-form .video-container .video-input-wrapper .video-btn-container .video-selection-wrapper .radio-group .video-type-label {
  height: 20px;
  margin-left: 5px;
}

@media screen and (min-width: 320px) and (max-width: 600.9px) {
  .data-video-component {
    width: 300px;
  }
  .data-video-component .enabled-list-input-field,
  .data-video-component .enabled-video-input-field {
    width: 180px;
  }
}
@media screen and (min-width: 601px) {
  .data-video-component {
    width: 380px;
  }
  .data-video-component .enabled-list-input-field,
  .data-video-component .enabled-video-input-field {
    width: 250px;
  }
}/*# sourceMappingURL=video.css.map */